/*STYLES FOR INTERACTIVE NZ MAP*/
#nz-map {
  background-color: white;
  margin: 2em;
}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}


/*Styles Drag and Drop*/
.App {
  text-align: center;
  width: 100%;
  min-height: 50vh;
}

.Pictures {
  margin: 10px;
}

img {
  margin: 5px;
}

.Board {
  background-color: pink;
  width: 50%;
  height: 30vh;
  border: 2px solid black;
}

